.Rproj.user
.Rhistory
.RData
.Ruserdata

.DS_Store
.config/
.local/
.bash_history

data/
/.quarto/
/_site/
_book/

/prepro/**/data/
/infovis/**/data/
/rauman/**/data/
/statistik/**/data/
/statistik-konsolidierung/**/data/
/fallstudien/**/data/

/fallstudien/_R_analysis/
/fallstudien/**/Results/
/site_libs/
purl


datasets/raw



/.quarto/

